.page-setOfIndicators--charts-bar>.lazyload-wrapper>.content-title {
  text-align: center;
}

.page-setOfIndicators--charts-bar>.lazyload-wrapper>.content-title>h3 {
  color: #0F0F1A !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold !important;
  font-size: 16px;
  line-height: 24px;
}

@media screen and (min-width: 1200px) {
  .bar-box {
    height: 270px;
  }
  .page-setOfIndicators--charts-bar {
    height: 316px;
    padding: 10px;
  }
}